<!DOCTYPE html>
<html>
<head>
    <title>Salad Builder</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<a href="/test/templates">Back to Templates</a>
<h1 id="title">{{params.Name}}</h1>
<h2>Template Info</h2>
<table>
    <thead>
        <tr>
            <th>Ingredients</th>
            <th>Cost</th>
            <th>Calories</th>
            <th>TTL Fat</th>
            <th>Sat Fat</th>
            <th>Choles</th>
            <th>Sodium</th>
            <th>Carb</th>
            <th>Fiber</th>
            <th>Sugar</th>
            <th>Protein</th>
        </tr>
    </thead>
    <tbody id="recipe-info-table">
        <tr>
            <td>{{params.IngredientQty}}</td>
            <td>$ {{params.Price}}</td>
            <td>{{params.Calories}} cal</td>
            <td>{{params.TTLFat}} g</td>
            <td>{{params.SatFat}} g</td>
            <td>{{params.Cholesterol}} mg</td>
            <td>{{params.Sodium}} mg</td>
            <td>{{params.Carbohydrates}} g</td>
            <td>{{params.Fiber}} g</td>
            <td>{{params.Sugar}} g</td>
            <td>{{params.Protein}} g</td>
        </tr>
    </tbody>
</table>
<br>
<h2>Calculate Categories</h2>
<form id="categoriesform">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Multiplier</th>
            </tr>
        </thead>
        <tbody id="categories-table">
        </tbody>
    </table>
    <input type="button" value="Update" onclick="submitCategories()"> 
</form>

<h2>Recipe Ingredients</h2>
<form id="ingredientsform">
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="ingredients-table">
        </tbody>
    </table>
    <input type="button" value="Update" onclick="submitForm()"> 
</form>

<br>
<h2>Add:</h2>
<table>
    <tbody id="available-ingredients">
    </tbody>
</table>

<script>

    function submitForm() {
        var updatesArray = [];
        $(".ingredient").each(function() {
            var formData = {
                id:this.id,
                qty:$(this).val()
            };
            updatesArray.push(formData);
        });

        console.log(updatesArray);

        $.ajax({
            type: "PUT",
            url: "/recipes/any/ingredients/batch",
            contentType: "application/json",
            data: JSON.stringify(updatesArray),
            success: function(data) {
                console.log(data);
            }
        });
    };
    function submitCategories() {
        var updatesArray = [];
        $(".category").each(function() {
            var formData = {
                id:this.id,
                multiplier:$(this).val()
            };
            updatesArray.push(formData);
        });

        console.log("Update template with RecipeID " + "{{params.RecipeID}}",updatesArray);

        $.ajax({
            type: "PUT",
            url: "/recipes/templates/{{params.RecipeID}}/categorymods",
            contentType: "application/json",
            data: JSON.stringify(updatesArray),
            success: function(data) {
                console.log(data);
            }
        });
    };

    function addIngredientToRecipe(recipeID, ingredientID) {
        console.log("Adding to recipeID " + recipeID +  " | ingredientID: " + ingredientID)
        var createRecipeIngredientData = {
            ingredientid: ingredientID,
            qty: 1
        }
        $.ajax({
            type: "POST",
            url: "/recipes/" + recipeID + "/ingredients",
            contentType: "application/json",
            data: JSON.stringify(createRecipeIngredientData),
            success: function(data) {
                console.log(data);
                location.reload();
            }
        });
    }
    function deleteThisIngredient(recipeIngredientId) {
        console.log("Deleting RecipeIngredient with ID=" + recipeIngredientId);
        $.ajax({
            type: "DELETE",
            url: "/recipes/temp/ingredients/temp/" + recipeIngredientId,
            success: function(data) {
                console.log(data);
                location.reload();
            }
        })
    }
    // Fetch data from the server
    fetch('/recipes/{{params.RecipeID}}/ingredients')
    .then(response => response.json())
    .then(data => {
        for (i=0;i<data.length;i++) {
            ingredient = data[i]
            const row = `
                <tr>
                    <td>${ingredient.Name}</td>
                    <td><input type="text" class="ingredient" id="${ingredient.RecipeIngredientID}" name="qty" value="${ingredient.Quantity}" required></td>
                    <td><button onclick="deleteThisIngredient(${ingredient.RecipeIngredientID})">x</button></td>
                </tr>
            `;
            document.querySelector('#ingredients-table').innerHTML += row;
        }
    });

    fetch('/recipes/templates/{{params.RecipeID}}/categorymods')
    .then(response => response.json())
    .then(data => {
        for (i=0;i<data.length;i++) {
            category = data[i]
            const row = `
                <tr>
                    <td>${category.Name}</td>
                    <td><input type="text" class="category" id="${category.CategoryID}" name="multiplier" value="${category.Multiplier}" required></td>
                </tr>
            `;
            document.querySelector('#categories-table').innerHTML += row;
        }
    });

    // Fetch all possible ingredients. Render a button to add an entry to RecipeIngredients
    // table for the according ingredient
    fetch('/ingredients')
    .then(response => response.json())
    .then(data => {
        const categories = [...new Set(data.map(item => item.Category))];
        categories.forEach( category => {
            document.querySelector('#available-ingredients').innerHTML += `<tr><th></th><th><br>${category}</th></tr>`;
            data.forEach( ingredient => {
                if(ingredient.Category === category) {
                    const row = `
                        <tr>
                            <td><button onclick="addIngredientToRecipe('{{params.RecipeID}}','${ingredient.IngredientID}')">+</button></td>
                            <td>${ingredient.Name}</td>
                        </tr>
                    `;
                    document.querySelector('#available-ingredients').innerHTML += row;
                }
            })
        })
    });
</script>
</body>
</html>
