<!DOCTYPE html>
<html>
<head>
    <title>Salad Builder</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<a href="/test">Back to all recipes</a>
<h1>All Ingredients</h1>

<button onclick="handleNewIngredient()">+Add New</button>

<table>
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="ingredients-table">
    </tbody>
</table>

<script>
    function handleNewIngredient() {
        console.log("Adding a new ingredient... Please update it manually")
        $.ajax({
            type: "POST",
            url: "/ingredients",
            contentType: "application/json",
            // data: JSON.stringify(createRecipeIngredientData),
            success: function(data) {
                console.log(data);
                location.reload();
            }
        });
    }
    // Fetch data from the server
    fetch('/ingredients')
    .then(response => response.json())
    // .then(data => {data.sort( (a,b) => a.CategoryID<b.CategoryID)})
    .then(data => {
        // Iterate over the data and append rows to the table
        for (let i = 0; i < data.length; i++) {
            const ingredient = data[i];
            const row = `
                <tr>
                    <td><a href="/test/ingredients/${ingredient.IngredientID}">${ingredient.Name}</a></td>
                    <td>${ingredient.Category}</td>
                    <td>$ ${ingredient.PortionCost? ingredient.PortionCost.toFixed(2):0}</td>
                </tr>
            `;
            document.querySelector('#ingredients-table').innerHTML += row;
        }
    })
</script>
</body>
</html>
