<!DOCTYPE html>
<html>
<head>
    <title>Ingredients List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1 id="title">{{value.Name}}</h1>
<h2>Recipe Info</h2>
<table>
    <thead>
        <tr>
            <th>Servings</th>
            <th>Preptime</th>
            <th># of Ingredients</th>
            <th>Nutrition</th>
        </tr>
    </thead>
    <tbody id="recipe-info-table">
        <tr>
            <td>{{value.Servings}}</td>
            <td>{{value.PreparationTime}}</td>
            <td>{{value.IngredientQty}}</td>
            <td>{{value.TotalCalories}} cal</td>
        </tr>
    </tbody>
</table>
<br>
<h2>Recipe Ingredients</h2>
<form id="ingredientsform">
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="ingredients-table">
        </tbody>
    </table>
    <input type="button" value="Update" onclick="submitForm()"> 
</form>

<br>
<h2>All Ingredients:</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Ingredient</th>
        </tr>
    </thead>
    <tbody id="available-ingredients">
    </tbody>
</table>
<br>
<a href="/test">Back to all recipes</a>

<script>

    function submitForm() {
        var updatesArray = [];
        $(".ingredient").each(function() {
            var formData = {
                id:this.id,
                qty:$(this).val()
            };
            updatesArray.push(formData);
        });

        console.log(updatesArray);

        $.ajax({
            type: "PUT",
            url: "/recipes/any/ingredients/batch",
            contentType: "application/json",
            data: JSON.stringify(updatesArray),
            success: function(data) {
                console.log(data);
            }
        });
    }

    function addIngredientToRecipe(recipeID, ingredientID) {
        console.log("Adding to recipeID " + recipeID +  " | ingredientID: " + ingredientID)
        var createRecipeIngredientData = {
            ingredientid: ingredientID,
            qty: 1
        }
        $.ajax({
            type: "POST",
            url: "/recipes/" + recipeID + "/ingredients",
            contentType: "application/json",
            data: JSON.stringify(createRecipeIngredientData),
            success: function(data) {
                console.log(data);
                location.reload();
            }
        });
    }
    function deleteThisIngredient(recipeIngredientId) {
        console.log("Deleting RecipeIngredient with ID=" + recipeIngredientId);
        $.ajax({
            type: "DELETE",
            url: "/recipes/temp/ingredients/temp/" + recipeIngredientId,
            success: function(data) {
                console.log(data);
                location.reload();
            }
        })
    }
    // Fetch data from the server
    fetch('/recipes/{{value.RecipeID}}/ingredients')
    .then(response => response.json())
    .then(data => {
        for (i=0;i<data.length;i++) {
            ingredient = data[i]
            const row = `
                <tr>
                    <td>${ingredient.Name}</td>
                    <td><input type="text" class="ingredient" id="${ingredient.RecipeIngredientID}" name="qty" value="${ingredient.Quantity}" required></td>
                    <td><button onclick="deleteThisIngredient(${ingredient.RecipeIngredientID})">x</button></td>
                </tr>
            `;
            document.querySelector('#ingredients-table').innerHTML += row;
        }
    });

    // Fetch all possible ingredients. Render a button to add an entry to RecipeIngredients
    // table for the according ingredient
    fetch('/ingredients')
    .then(response => response.json())
    .then(data => {
        for (i=0;i<data.length;i++) {
            ingredient = data[i]
            const row = `
                <tr>
                    <td><button onclick="addIngredientToRecipe('{{value.RecipeID}}','${ingredient.IngredientID}')">+</button></td>
                    <td>${ingredient.Name}</td>
                </tr>
            `;
            document.querySelector('#available-ingredients').innerHTML += row;
        }

    });
</script>
</body>
</html>
