<!DOCTYPE html>
<html>
    <head>
        <title>Update Form</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <form id="updateForm">
            <h2>Ingredient Details</h2>
            <label>ID: {{value.IngredientID}}</label>
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{value.Name}}" required>
            <br>
            <label for="catid">Category ID:</label>
            <input type="text" id="catid" name="catid" value="{{value.CategoryID}}" required>
            <br>
            <label for="unit">Measurement Unit:</label>
            <input type="text" id="unit" name="unit" value="{{value.Unit}}" required>
            <br>
            <label for="portionvol">Portion Volume:</label>
            <input type="text" id="portionvol" name="portionvol" value="{{value.PortionVolume}}" required>
            <br>
            <label for="utensil">Portioning Utensil:</label>
            <input type="text" id="utensil" name="utensil" value="{{value.PortionUtensil}}" required>
            <br>
            <h2>Costing</h2>
            <label for="caseprice">Case Price:</label>
            <input type="text" id="caseprice" name="caseprice" value="{{value.CasePrice}}" required>
            <br>
            <label for="casesize">Case Total ({{value.Unit}}):</label>
            <input type="text" id="casesize" name="casesize" value="{{value.CaseSize}}" required>
            <br>
            <label for="portionsize">Portion Size ({{value.Unit}}):</label>
            <input type="text" id="portionsize" name="portionsize" value="{{value.PortionSize}}" required>
            <br>
            <label for="yield">Yield Percent:</label>
            <input type="text" id="yield" name="yield" value="{{value.YieldPercent}}" required>
            <br>
            <label>Calculated Portion Cost: {{portioncost}} cents</label>
            <br>
            <h2>Nutrition</h2>
            <label for="calories">Calories (cal):</label>
            <input type="text" id="calories" name="calories" value="{{value.Calories}}" required>
            <br>
            <label for="ttlfat">TTL Fat (g):</label>
            <input type="text" id="ttlfat" name="ttlfat" value="{{value.TTLFatGrams}}" required>
            <br>
            <label for="satfat">Sat Fat (g):</label>
            <input type="text" id="satfat" name="satfat" value="{{value.SatFatGrams}}" required>
            <br>
            <label for="choles">Carbohydrates (g):</label>
            <input type="text" id="choles" name="choles" value="{{value.CholesterolMiligrams}}" required>
            <br>
            <label for="sodium">Sodium (mg):</label>
            <input type="text" id="sodium" name="sodium" value="{{value.SodiumMiligrams}}" required>
            <br>
            <label for="carbs">Carbohydrates (g):</label>
            <input type="text" id="carbs" name="carbs" value="{{value.CarbohydratesGrams}}" required>
            <br>
            <label for="fiber">Fiber (g):</label>
            <input type="text" id="fiber" name="fiber" value="{{value.FiberGrams}}" required>
            <br>
            <label for="sugar">Sugar (g):</label>
            <input type="text" id="sugar" name="sugar" value="{{value.SugarGrams}}" required>
            <br>
            <label for="protein">Protein (g):</label>
            <input type="text" id="protein" name="protein" value="{{value.ProteinGrams}}" required>
            
            <br><br>
            <input type="button" value="Update" onclick="submitForm()">
            <div id="success"></div>
        </form>
    </body>
    <br>
    <a href="/test">Back</a>
    <script>
        function submitForm() {
            
            var formData = {};
            $("form input").each(function() {
                formData[this.id] = $(this).val();
            });

            $.ajax({
                type: "PUT",
                url: "/ingredients/{{value.IngredientID}}",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function(data) {
                    $("#success").append("Success");
                    console.log(data);
                }
            });
        }
    </script>
</html>