<!DOCTYPE html>
<html>
<head>
    <title>Salad Builder</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table td {padding: 2px 12px 2px 0}
    </style>
</head>
<body>
<h1>SALAD BUILDER</h1>

<a href="/test/ingredients">Edit Ingredients</a><br>
<a href="/test/templates">Edit Templates</a><br>
<br>
<h2>Recipes</h2>
<table>
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Ingredients</th>
            <th>Cost</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody id="recipes-table">
    </tbody>
</table>
<div id="newrecipeform"></div>
<br>
<button onClick="handleNewRecipe()">+ Add New Recipe</button>
<br>

<script>
    function handleSubmit() {
        const userinput = $("#newrecipename").val()
        $.ajax({
            type: "POST",
            url: "/recipes",
            contentType: "application/json",
            data: JSON.stringify({name: userinput}),
            success: function(data) {
                console.log(data);
                location.reload();
            }
        });
    }
    function handleNewRecipe() {
        const newRecipeForm = `
        <form id="newrecipe">
            <label for="name">Name: </label>
            <input id="newrecipename">
            <input type="button" value="Save" onclick="handleSubmit()">
        </form>
        `
        document.querySelector("#newrecipeform").innerHTML += newRecipeForm;
    }
    // Fetch recipes from the server
    fetch('/recipes')
    .then(response => response.json())
    .then(data => {
        // Iterate over the data and append rows to the table
        for (let i = 0; i < data.length; i++) {
            const recipe = data[i];
            const row = `
                <tr>
                    <td><a href="/test/recipes/${recipe.RecipeID}">${recipe.Name}</a></td>
                    <td>${recipe.IngredientQty}</td>
                    <td>$ ${recipe.Price.toFixed(2)}</td>
                    <td>${recipe.Calories.toFixed(0)} cal</td>
                </tr>
            `;
            document.querySelector('#recipes-table').innerHTML += row;
        }
    });
</script>
</body>
</html>
